extends layout

block content
  h1= title
  p Welcome to #{title}
  #rawJSON-id This is a div
  input#searchbar-id(type=search placeholder="Search for movie title" name=q)
  button#search-button Search
  #searchtext This is text that can be changed with the Search function
  body This should be a #{body} of data.
  // TODO: Filter Movie Data
  p #{JSON.stringify(moviedata)}

  script(type = module src='/javascripts/frontend.js')

