extends layout

block content
  .body
      .head
        h1#ootitle= title
            img(src='./img/oscars.png')
      .chooseYear
        p Choose Year
          //#rawJSON-id This is a div

          //input#searchbar-id(type=search placeholder="Search for movie title" name=q )
          //ul#charactersList
          //button#search-button Search
          //#searchtext This is text that can be changed with the Search function
          //body This should be a #{body} of data.
      .wrapper
        .search-input
            input#searchbar-id(type='text' placeholder='Enter and Select Year')
            .autocomplete-box
                ul
            //button.button#yearSelectButton Select
      var#moviedataJSON #{JSON.stringify(moviedata)}
      .dropdowngroup
          p#select-category-text Select Category
          select#category.form(name='default')
      i.fa.fa-search#SearchButton
      var#category-name This should change when category is selected


      script(type = module src='/javascripts/frontend.js')
      link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' rel='stylesheet')
